/* font google da utilizzare */

/* colors 
#f6f6f6 --> White

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'whitney', 'helvetica neue', Arial, Helvetica, sans-serif;
    background-color: white;
    color:black
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-hero{
    max-width: 800px;
    margin: 0 auto;
}

.bg-grey {
    background-color: #f6f6f6;
}

.bg-blue {
    background-color: #255ee9;
}

.text-blue {
    color: #255ee9;
}
.text-white {
    color: white;
}

/* main */
.image {
    width: 60%;
}

.content {
    width: 40%
}


/* flex */
.flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}

.tec {
    flex-direction: column-reverse;
    align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
    
}