/* font google da utilizzare */

/* colors 
#f6f6f6 --> White

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'whitney', 'helvetica neue', Arial, Helvetica, sans-serif;
    background-color: white;
    color:black
}

 /* .debug {
    border: 1px solid red;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

.container-hero{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
}

h1 {
    padding: 30px;
    font-size: 4em;
}

.bg-grey {
    background-color: #f6f6f6;
}

.bg-blue {
    background-color: #255ee9;
}

.text-blue {
    color: #255ee9;
}
.text-white {
    color: white;
}


/* header */
header ul li a {
    padding: 10px;
    text-decoration: none;
    color: white

}
/* main */
.image {
    width: 60%;
}

.image img {
    width: 100%;
}
.content {
    width: 40%
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* flex */
.flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tec {
    flex-direction: column-reverse;
    align-items: center;
}

.sp-bet {
    justify-content: space-between;
}

.al-it-cent {
    align-items: center;
}


/* footer */
footer {
    background-color: rgb(0, 0, 0);   

}

.footer-top {
    border-bottom: 1px solid #f6f6f6;
}

/* button */
.btn {
    display: inline-block;
    border-radius: 16px;
    padding: 10px 16px;
    background-color: white;
    color: black;
    text-decoration: none;
}