/* font google da utilizzare */

/* colors 
#f6f6f6 --> White

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'whitney', 'helvetica neue', Arial, Helvetica, sans-serif;
    background-color: white;
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}